window {
    margin: 0px;
    padding: 0px;
    opacity: 0.9;
    border: 2px solid #99e1d0;
    background-color: rgba(234, 253, 240, 0.9);
    border-radius: 0 10px 10px 0;
}

#input {
    margin: 5px;
    border: none;
    color: #000000;
    background-color: #fdba00;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #eafdf0;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #eafdf0;
}

#text {
    margin: 5px;
    border: none;
    color: #000000;
}

#entry:selected {
    background-color: #7897e8;
    border-radius: 6px;
}

list {
    background-color: #7897e8;
    border-radius: 6px;
}