* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  }

window#waybar {
background: rgba(20, 20, 20, 0.9);
color: #ffffff;
}

#workspaces button {
padding: 0 6px;
color: #bbbbbb;
}

#workspaces button.active {
color: #ffffff;
}

#bluetooth,
#network,
#pulseaudio,
#battery,
#clock,
#tray {
padding: 0 10px;
}
